---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=eur&card=tok_14oM4CIVhuhstyL6JRsoDdDs&description=Sign%20Up%20Charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_qDjSJ2tj6kN4V3BIqFv5DLXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14oM4FIVhuhstyL6Beub4Xsi",
          "object": "charge",
          "created": 1413495955,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "eur",
          "refunded": false,
          "card": {
            "id": "card_14oM4CIVhuhstyL6P9uBeafu",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "nSRoAStmUco3w3Ow",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14oM4FIVhuhstyL6Beub4Xsi/refunds",
            "data": []
          },
          "balance_transaction": "txn_14oM4FIVhuhstyL62y4GIPaV",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign Up Charge for john@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Thu, 16 Oct 2014 21:45:55 GMT
recorded_with: VCR 2.9.3
