---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=eur&card=tok_14pfJVIVhuhstyL6LHRLdouB&description=Sign%20Up%20Charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_qDjSJ2tj6kN4V3BIqFv5DLXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14pfJXIVhuhstyL6U6x7doHa"
          }
        }
  recorded_at: Mon, 20 Oct 2014 12:31:07 GMT
recorded_with: VCR 2.9.3
