---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15HJgzIVhuhstyL65O3EqHOW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_qDjSJ2tj6kN4V3BIqFv5DLXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15HJgzIVhuhstyL65O3EqHOW",
          "created": 1420398337,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15HJgzIVhuhstyL6tm937CIR",
              "object": "charge",
              "created": 1420398337,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "eur",
              "refunded": false,
              "captured": true,
              "card": {
                "id": "card_15HJgxIVhuhstyL6sECb40tl",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 2,
                "exp_year": 2017,
                "fingerprint": "nSRoAStmUco3w3Ow",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5SE9RnL6Qlj9BY"
              },
              "balance_transaction": "txn_15HJgzIVhuhstyL6RlfmSQqw",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5SE9RnL6Qlj9BY",
              "invoice": "in_15HJgyIVhuhstyL6TOSUsYwq",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15HJgzIVhuhstyL6tm937CIR/refunds",
                "data": []
              },
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5SE9xeCG3UeFMQ",
          "api_version": "2014-08-20"
        }
  recorded_at: Sat, 10 Jan 2015 16:55:59 GMT
recorded_with: VCR 2.9.3
