---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_qDjSJ2tj6kN4V3BIqFv5DLXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14oKd5IVhuhstyL6cXeAI2jG",
          "livemode": false,
          "created": 1413490427,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14oKd5IVhuhstyL6imDwD4Vr",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "nSRoAStmUco3w3Ow",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 16 Oct 2014 20:13:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=eur&card=tok_14oKd5IVhuhstyL6cXeAI2jG&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_qDjSJ2tj6kN4V3BIqFv5DLXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14oKd6IVhuhstyL6bAszmsbH",
          "object": "charge",
          "created": 1413490428,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "eur",
          "refunded": false,
          "card": {
            "id": "card_14oKd5IVhuhstyL6imDwD4Vr",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "nSRoAStmUco3w3Ow",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14oKd6IVhuhstyL6bAszmsbH/refunds",
            "data": []
          },
          "balance_transaction": "txn_14oKd6IVhuhstyL6lwEZy2wr",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Thu, 16 Oct 2014 20:13:48 GMT
recorded_with: VCR 2.9.3
