---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_qDjSJ2tj6kN4V3BIqFv5DLXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15HNGWIVhuhstyL6qnGlgPU8",
          "livemode": false,
          "created": 1420412072,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15HNGWIVhuhstyL6sqQgJV06",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "a9ZzmA9dyMzKTNX5",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sun, 04 Jan 2015 22:54:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=eur&card=tok_15HNGWIVhuhstyL6qnGlgPU8&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_qDjSJ2tj6kN4V3BIqFv5DLXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15HNGXIVhuhstyL6h5cdNppn"
          }
        }
  recorded_at: Sun, 04 Jan 2015 22:54:34 GMT
recorded_with: VCR 2.9.3
