---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_qDjSJ2tj6kN4V3BIqFv5DLXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15HNGlIVhuhstyL6cCOAl0e4",
          "livemode": false,
          "created": 1420412087,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15HNGlIVhuhstyL6hCZp0zo6",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "nSRoAStmUco3w3Ow",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sun, 04 Jan 2015 22:54:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15HNGlIVhuhstyL6cCOAl0e4&plan=base&email=monte.bruen%40kunde.name
    headers:
      Authorization:
      - Bearer sk_test_qDjSJ2tj6kN4V3BIqFv5DLXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1420412088,
          "id": "cus_5SHqP6t0jLq0VJ",
          "livemode": false,
          "description": null,
          "email": "monte.bruen@kunde.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5SHqP6t0jLq0VJ/subscriptions",
            "data": [
              {
                "id": "sub_5SHqG1EsvpKjSk",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1420388356,
                  "amount": 999,
                  "currency": "eur",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1420412088,
                "status": "active",
                "customer": "cus_5SHqP6t0jLq0VJ",
                "cancel_at_period_end": false,
                "current_period_start": 1420412088,
                "current_period_end": 1423090488,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5SHqP6t0jLq0VJ/cards",
            "data": [
              {
                "id": "card_15HNGlIVhuhstyL6hCZp0zo6",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2015,
                "fingerprint": "nSRoAStmUco3w3Ow",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5SHqP6t0jLq0VJ"
              }
            ]
          },
          "default_card": "card_15HNGlIVhuhstyL6hCZp0zo6"
        }
  recorded_at: Sun, 04 Jan 2015 22:54:49 GMT
recorded_with: VCR 2.9.3
